div > * {
    vertical-align: middle; // Align children to middle of line
}

.fake_volumes {
    /*height: 100%;*/
}

.module_fake_volumes {
    width: 100%;
    /*height: 100%;*/
    position: relative;
}

.module_fake_volumes .volumes_container {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 0px;
    position: relative;
}

.module_fake_volumes .volumes_container .volume {
    width: 100%;
    height: 118px;
    position: relative;
    background-color: #fff;
    border-radius: 3px;
    margin-top: 10px;
    cursor: pointer;
    padding-left: 20px;
}

.module_fake_volumes .volumes_container .volume .important_container {
    display: inline-block;
    background-color: #fff;
    width: 410px;
    height: 100%;
    padding-top: 7px;
    z-index: 3;
}

.module_fake_volumes .volumes_container .volume .label_block {
    font-weight: 600;
    display: inline-block;
    width: 200px;
    padding-left: 30px;
    position: relative;
    top: 0px;
}

.module_fake_volumes .volumes_container .volume .capacity_block {
    width: 200px;
    display: inline-block;
    position: relative;
    top: 0px;
}

.module_fake_volumes .volumes_container .volume .capacity_block .capacity_img {
    width: 90px;
    display: inline-block;
    /* position: relative;
    top: 0px;*/
}

.module_fake_volumes .volumes_container .volume .capacity_block .capacity_img > img {
    width: 90px;
    position: relative;
}

.module_fake_volumes .volumes_container .volume .capacity_block .capacity_info {
    width: 50%;
    display: inline-block;
    /*    position: relative;*/
}

.module_fake_volumes .volumes_container .volume .capacity_block .capacity_info .green_square {
    background-color: #708340;
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 5px;
}

.module_fake_volumes .volumes_container .volume .capacity_block .capacity_info .grey_square {
    background-color: #F3F3F3;
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 5px;
}

.module_fake_volumes .volumes_container .volume .info_container {
    width: 70%;
    height: 100%;
    display: inline-block;
    font-family: Lucida, Console, monospace;
    font-weight: 600;
    opacity: 1;
    position: absolute;
    right: 0px;
    z-index: 1;
    -webkit-transform: scaleX(1);
    -webkit-transform-origin: left;
    -moz-transform: scaleX(1);
    -moz-transform-origin: left;
    -ms-transform: scaleX(1);
    -ms-transform-origin: left;
    -o-transform: scaleX(1);
    -o-transform-origin: left;
    transform: scaleX(1);
    transform-origin: left;
}

.module_fake_volumes .volumes_container .volume .info_container .info_column {
    width: 49%;
    display: inline-block;
    opacity: 1;
    padding-left: 20px;
}

/* SHRINK FUNCTIONALITY */

.module_fake_volumes .volumes_container .volume.shrink {
    width: 26%;
}

.module_fake_volumes .volumes_container .volume.shrink .info_container {
    opacity: 0;
    -webkit-transform: scaleX(0);
    -webkit-transform-origin: left;
    -moz-transform: scaleX(0);
    -moz-transform-origin: left;
    -ms-transform: scaleX(0);
    -ms-transform-origin: left;
    -o-transform: scaleX(0);
    -o-transform-origin: left;
    transform: scaleX(0);
    transform-origin: left;
}

.module_fake_volumes .volumes_container .volume .pointer {
    position: absolute;
    right: -10px;
    top: 43px;
    width: 20px;
    height: 20px;
    z-index: 4;
}

.module_fake_volumes .volumes_container .volume .pointer .point_body {
    position: relative;
    width: 100%;
    height: 100%;
    border-left: 3px solid #EFEDED;
    border-bottom: 3px solid #EFEDED;
    background-color: #fff;

    -webkit-transform: rotate(45deg);
    -webkit-transform-origin: center;
    -moz-transform: rotate(45deg);
    -moz-transform-origin: center;
    -ms-transform: rotate(45deg);
    -ms-transform-origin: center;
    -o-transform: rotate(45deg);
    -o-transform-origin: center;
    transform: rotate(45deg);
    transform-origin: center;

    display: none;
}

/* TRANSITIONS */

.transition {
    -webkit-transition: 800ms cubic-bezier(0.25, 0.20, 0.18, 0.90) all;
    -moz-transition: 800ms cubic-bezier(0.25, 0.20, 0.18, 0.90) all;
    -ms-transition: 800ms cubic-bezier(0.25, 0.20, 0.18, 0.90) all;
    -o-transition: 800ms cubic-bezier(0.25, 0.20, 0.18, 0.90) all;
    transition: 800ms cubic-bezier(0.25, 0.20, 0.18, 0.90) all;
}

.transition_scale_x {
    -webkit-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) transform;
    -moz-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) transform;
    -ms-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) transform;
    -o-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) transform;
    transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) transform;
}

.transition_width {
    -webkit-transition: 800ms cubic-bezier(0.26, 0.23, 0.18, 0.9) width;
    -moz-transition: 800ms cubic-bezier(0.26, 0.23, 0.18, 0.9) width;
    -ms-transition: 800ms cubic-bezier(0.26, 0.23, 0.18, 0.9) width;
    -o-transition: 800ms cubic-bezier(0.26, 0.23, 0.18, 0.9) width;
    transition: 800ms cubic-bezier(0.26, 0.23, 0.18, 0.9) width;
}

.transition_translate_y {
    -webkit-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) transform;
    -moz-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) transform;
    -ms-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) transform;
    -o-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) transform;
    transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) transform;
}

.transition-opacity {
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) opacity;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) opacity;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) opacity;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) opacity;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) opacity;
}

.module_fake_volumes .volume_options_container {
    background-color: #fff;
    position: absolute;
    overflow: hidden;
    width: 0%;
    right: -15px;
    top: 0px;
    border-left: 3px solid #EFEDED;
    z-index: 3;
}


/* SHRINK - VOLUME OPTIONS */

.module_fake_volumes .volume_options_container.strech {
    width: 74%;
    overflow: hidden;
}

.border {
    border: 2px solid black;
    padding: 20px;
}

.module_fake_volumes .volume_options_container fieldset {
    padding: 20px;
    position: relative;
    width: 100%;
}
.module_fake_volumes .volume_options_container fieldset legend {
    position: relative;
    right: 0px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.module_fake_volumes .volume_options_container fieldset .close_btn {
    position: relative;
    right: 0px;
    float: right;
    font-size: 30px;
}
