.select_chanel_dialog {
    display: none;
}

.select_chanel_dialog i {
    padding-left: 10px;
}

.select_chanel_dialog button {
    margin-top: 10px;
}

.monitoring_windows_container {
    padding: 20px;
}

.monitoring_windows_container .grid_element.template {
    display: none;
}

/* sortable_grid */
.grid_container {
    width: 100%;
}

.sortable_grid_column {
    width: 49%;
    min-height: 50px;
    float: left;
}
.sortable_grid_column:last-child {
    margin-left: 2%;
}

.grid_element {
    width: 100%;
    margin-top: 20px;
    min-height: 25px;
    position: relative;
}

body.dark .grid_bordered_box {
    border: 2px solid #FFF;
    border-radius: 7px;
    background-color: #000;
}

.grid_bordered_box {
    border: 2px solid #000;
    border-radius: 7px;
    background-color: #fff;
}


/* sortable_grid_label_bar */
body.dark .grid_element_header {
    outline: 2px solid #fff;
    float:left;
    width: 100%;
    position: absolute;
    height: auto;
    top: 0px;
    left: 0px;
    z-index: 99;
    background-color: #000;
    margin-bottom: 10px;
}
.grid_element_header {
    outline: 2px solid #000;
    float:left;
    width: 100%;
    position: absolute;
    height: auto;
    top: 0px;
    left: 0px;
    z-index: 99;
    background-color: #fff;
    margin-bottom: 10px;
}

.grid_element_header:hover {
    cursor: move;
}

.grid_element_content {
    width: 100%;
    padding: 10px;
}

body.dark .grid_element_placeholder {
    margin: 0px 30px 0px 0px;
    height: 100px;
    background-color: #5D5A5A;
    outline: 2px dashed #A7A7A7;
}
.grid_element_placeholder {
    margin: 0px 30px 0px 0px;
    height: 100px;
    background-color: #A8A8A8;
    outline: 2px dashed #636363;
}

body.dark .label_bar_square_button {
    background-color: #000;
    border: 1px solid #fff;
    padding: 1px 1px 2px 2px;
    font-size: 25px;
    line-height: 11px;
    position: relative;
    top: 0px;
}
.label_bar_square_button {
    background-color: #fff;
    border: 1px solid #000;
    padding: 1px 1px 2px 2px;
    font-size: 25px;
    line-height: 11px;
    position: relative;
    top: 0px;
}