.module_volumes .change_label_box {
	padding: 10px;
	position: absolute;
	border: 1px solid #000;
	display: none;
	background-color: #F1F0F0;
	top: 40px;
	z-index: 3;
	overflow: hidden;
}
.module_volumes .change_label_box > p {
	display: inline-block;
	width: 100%;
	overflow: hidden;
}
.module_volumes .change_label_box input {
	margin-bottom: 10px;
	padding-left: 10px;
}


.module_volumes .volume_data_label {
	background-color: #E1E1E1;
	position: relative;
}
.module_volumes .volume_data_label span {
	cursor: pointer;
	background-color: #E1E1E1;
}

.module_volumes .volume_data_label span:hover {
	cursor: pointer;
	background-color: #F3F3F3;
}