/* additional style for additional gliphicons library smaller gliphicons */

.fa-sm {
    font-size: 25px;
    line-height: 25px;
}


/* header */

header {
	width: 100%;
    margin-bottom: 20px;
    position: fixed;
    z-index: 99;
}

.module_header.module_container {
    padding: 0px;
}

.module_header ul {
    padding: 0px;
    display: inline-block;
    list-style: none;
    margin-bottom: 0px;
    height: 100%;
    width: 99%;
    background-color: #525252;
}

.module_header .glyphicon {
    position: relative;
    top: -1px;
}

.module_header ul li {
    display: inline-block;
    /*border-left: 2px solid #5A5A5A;*/
    text-align: center;
    font-size: 25px;
    line-height: 30px;
    padding: 10px 0px 0px 0px;
    float: left;
    color: #949494;
}

/*.module_header ul li:last-child {
    border-right: 2px solid #5A5A5A;
}*/

.module_header ul li:hover, 
.module_header ul li .header_gliphicon_label:hover {
    color: #D2D2D2;
}

.module_header ul li:active,
.module_header ul li .header_gliphicon_label:active {
    color: #D2D2D2;
}

.module_header ul li .header_gliphicon_label {
    font-size: 13px;
    white-space: nowrap;
    display: block;
}
