@import url('./lib/bootstrap/dist/css/bootstrap.css');
@import url('./lib/bootstrap-xl/bootstrap-xl.css');
body {
    background-color: #000;
    color: #FFF;
    padding-top: 20px;
}


/* My classes */

.bordered_box {
    border: 2px solid #FFF;
    border-radius: 7px;
    background-color: #000;
    padding: 20px;
}

.default_button {
    background-color: #000;
    border: 1px solid #FFF;
    border-radius: 6px;
}

.default_square_button {
    background-color: #000;
    border: 1px solid #FFF;
    border-radius: 6px;
    padding: 1px 1px 6px 6px;
    font-size: 43px;
    line-height: 11px;
}

.default_input {
    color: #000;
    border-radius: 6px;
    padding-left: 5px;
}

.module_container {
    padding: 20px;
}


/* tabs */

.tabs_container {
    position: relative;
    padding-top: 20px;
}

.tabs_container > .tab_labels_container {
    position: absolute;
    height: 30px;
    top: -6px;
    left: 20px;
    z-index: 3;
}

.tabs_container > .tab_labels_container > .tab_label {
    display: inline-block;
    min-width: 100px;
    height: 28px;
    line-height: 23px;
    padding-left: 13px;
    padding-right: 13px;
    border: 2px solid #FFF;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    text-align: center;
    background-color: #000;
}

.tabs_container > .tab_labels_container > .tab_label:hover {
    cursor: pointer;
}

.tabs_container > .tab_labels_container > .tab_label.active {
    border-bottom: 2px solid #000;
}

.tabs_container > .tab {
    display: none;
}

.tabs_container > .tab.active {
    display: block;
}

.tabs_container > .tab {
    width: 100%;
    border: 2px solid #FFF;
    border-radius: 7px;
    background-color: #000;
}
